@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');

body {background: rgb(255,255,255);
    background: linear-gradient(59deg, rgba(255,255,255,1) 0%, rgba(247,196,179,1) 35%, rgba(145,90,70,1) 100%);}
h1 {font-family: 'Herr Von Muellerhoff', cursive;font-size: 8rem;color:#fff;}
.title {display: flex;
    justify-content: center;
    align-items: center;height: 100vh;}